*{
	padding:0px;
	margin:0px;
}
.wrap{
	max-width:960px;
}
.logo{
	margin-left:1.50rem;
}
.menu{
	margin-right:9rem;
}
.menu nav ul{
	float:right;
	margin-top:-1.80rem;
}
.menu nav ul li{
	margin-right:2rem;
	display:inline;
}
.menu nav ul li a{
	text-decoration:none;
}
.menu nav ul li a:hover{
	text-decoration:underline;
	background-color:#F0F0F0;
	
}
#timkiem{
	max-width:8rem;
	float:right;
	margin-right:-8rem;
	margin-top:-1.65rem;
	background-image:url(Search.png);
	background-size:1rem;
	background-repeat:no-repeat;
	background-position:right;
	padding-right:1rem	
}
.body{
	margin-top:1em;
}
.footer{
	margin-bottom: 1em;
	background-image:url(footerbg.jpg);
	margin-top:15rem
}
.for{
	text-align:center
}
.rong{
	margin-left:24rem;
	padding:1rem
}
.wrap{
	margin-left:12rem;
}
.right a{
	text-decoration:none;
}
.right{
	max-width:33em;
	float:right;
}
h1{
	font-size:1.2em;
	margin-top:1em;
}